{{- $logo := resources.Get "images/wavey-meta/wavey-logo.ico" -}}
{{- with $logo -}}
<link rel="shortcut icon" href="{{ .Permalink }}" type="image/x-icon">
<link rel="icon" href="{{ .Permalink }}" type="image/x-icon">
<link rel="icon" type="image/x-icon" href="{{ .Permalink }}">
{{- else -}}
<link rel="shortcut icon" href="{{ "images/wavey-meta/wavey-logo.ico" | relURL }}" type="image/x-icon">
<link rel="icon" href="{{ "images/wavey-meta/wavey-logo.ico" | relURL }}" type="image/x-icon">
{{- end -}}
<link rel="icon" type="image/png" sizes="192x192" href="{{ "images/wavey-meta/icon-192-any.png" | relURL }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ "images/wavey-meta/icon-512-any.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/wavey-meta/apple-touch-icon.png" | relURL }}">
<link rel="manifest" href="{{ "manifest.json" | relURL }}">