{{- if partial "has-math.html" . -}}
  {{- $katexInitJS := partial "js-build.html" (resources.Get "js/katex-init.js") | fingerprint "sha384" -}}
  <link rel="stylesheet" href="{{ "katex/katex.min.css" | relURL }}">
  <script defer src="{{ "katex/katex.min.js" | relURL }}"></script>
  <script defer src="{{ "katex/auto-render.min.js" | relURL }}"></script>
  <script defer src="{{ "katex/mathtex-script-type.min.js" | relURL }}"></script>
  <script defer src="{{ $katexInitJS.RelPermalink }}" integrity="{{ $katexInitJS.Data.Integrity }}" crossorigin="anonymous"></script>
{{- end -}}
