<meta property="og:title" content="{{ .Title }}" />
{{- $description := "" -}}
{{- if .Description -}}
  {{- $description = .Description -}}
{{- else if .IsPage -}}
  {{- $description = .Summary -}}
{{- else -}}
  {{- $description = .Site.Params.description -}}
{{- end -}}
{{- if $description -}}
<meta property="og:description" content="{{ $description }}" />
{{- end -}}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{- $ogImage := "" -}}
{{- $ogImageAlt := "Wavey RF Sensing System" -}}
{{- if .Params.image -}}
  {{- $img := .Params.image -}}
  {{- if (urls.Parse $img).Scheme -}}
    {{- $ogImage = $img -}}
  {{- else -}}
    {{- $pageImg := $.Resources.GetMatch $img -}}
    {{- if $pageImg -}}
      {{- $ogImage = ($pageImg.Resize "1200x630 jpg q75").Permalink -}}
    {{- else -}}
      {{- $globalImg := resources.Get $img -}}
      {{- if $globalImg -}}
        {{- $ogImage = ($globalImg.Resize "1200x630 jpg q75").Permalink -}}
      {{- else -}}
        {{- $ogImage = absURL $img -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.imageAlt -}}
    {{- $ogImageAlt = . -}}
  {{- else -}}
    {{- $ogImageAlt = printf "%s image" $.Title -}}
  {{- end -}}
{{- else -}}
  {{- $banner := resources.Get "images/wavey-meta/wavey-banner.png" -}}
  {{- with $banner -}}
    {{- $ogImage = (.Resize "1200x630 jpg q75").Permalink -}}
  {{- else -}}
    {{- $ogImage = absURL "images/wavey-meta/wavey-banner.png" -}}
  {{- end -}}
  {{- $ogImageAlt = "Wavey RF sensing system banner showing WiFi CSI visualization" -}}
{{- end -}}
{{- if $ogImage -}}
<meta property="og:image" content="{{ $ogImage }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="{{ $ogImageAlt }}">
{{- end -}}


{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- if .IsPage }}
{{- if not .PublishDate.IsZero }}<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ else if not .Date.IsZero }}<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ end }}
{{- end }}{{/* .IsPage */}}

{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{- with .Site.Title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}
{{- range . }}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end }}{{ end }}

{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}{{ with .Params.series }}
{{- range $name := . }}
  {{- $series := index $siteSeries $name }}
  {{- range $page := first 6 $series.Pages }}
    {{- if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
  {{- end }}
{{ end }}{{ end }}

{{- if .IsPage }}
{{- range .Site.Params.Authors }}{{ with .Social.facebook }}
<meta property="article:author" content="https://www.facebook.com/{{ . }}" />{{ end }}{{ with .Site.Params.Social.facebook }}
<meta property="article:publisher" content="https://www.facebook.com/{{ . }}" />{{ end }}
<meta property="article:section" content="{{ .Section }}" />
{{- with .Params.tags }}{{ range first 6 . }}
<meta property="article:tag" content="{{ . }}" />{{ end }}{{ end }}
{{- end }}{{ end }}

{{- /* Facebook Page Admin ID for Domain Insights */}}
{{- with .Site.Params.Social.facebook_admin }}<meta property="fb:admins" content="{{ . }}" />{{ end }}
