{{- $title := .Title | default .Site.Title -}}
<meta property="og:title" content="{{ $title }}" />
{{- $description := .Description | default .Summary | default .Site.Params.description -}}
{{- if $description }}
<meta property="og:description" content="{{ $description | plainify | chomp }}" />
{{- end }}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- $siteName := .Site.Params.siteName | default .Site.Title }}
{{- with $siteName }}
<meta property="og:site_name" content="{{ . }}" />
{{- end }}
<meta property="og:locale" content="{{ .Site.Params.locale | default "en_US" }}" />

{{- $ogImage := "" -}}
{{- $ogImageType := "image/png" -}}
{{- $ogImageAlt := "Wavey RF Sensing System" -}}
{{- if .Params.image -}}
  {{- $img := .Params.image -}}
  {{- if (urls.Parse $img).Scheme -}}
    {{- $ogImage = $img -}}
  {{- else -}}
    {{- $pageImg := $.Resources.GetMatch $img -}}
    {{- if $pageImg -}}
      {{- $ogImage = ($pageImg.Resize "1200x630 q82 webp").Permalink -}}
      {{- $ogImageType = "image/webp" -}}
    {{- else -}}
      {{- $globalImg := resources.Get $img -}}
      {{- if $globalImg -}}
        {{- $ogImage = ($globalImg.Resize "1200x630 q82 webp").Permalink -}}
        {{- $ogImageType = "image/webp" -}}
      {{- else -}}
        {{- $ogImage = absURL $img -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.imageAlt -}}
    {{- $ogImageAlt = . -}}
  {{- else -}}
    {{- $ogImageAlt = printf "%s | Wavey" $.Title -}}
  {{- end -}}
{{- else -}}
  {{- $banner := resources.Get "images/wavey-meta/wavey-banner.png" -}}
  {{- with $banner -}}
    {{- $ogImage = (.Resize "1200x630 q82 webp").Permalink -}}
    {{- $ogImageType = "image/webp" -}}
  {{- else -}}
    {{- $ogImage = absURL "images/wavey-meta/wavey-banner.png" -}}
  {{- end -}}
  {{- $ogImageAlt = "Wavey | open-source WiFi CSI sensing for device-free occupancy and motion detection" -}}
{{- end -}}
{{- if $ogImage }}
<meta property="og:image" content="{{ $ogImage }}">
<meta property="og:image:type" content="{{ $ogImageType }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="{{ $ogImageAlt }}">
{{- end }}

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- if .IsPage }}
{{- if not .PublishDate.IsZero }}
<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- else if not .Date.IsZero }}
<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end }}
{{- if not .Lastmod.IsZero }}
<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end }}
{{- with .Section }}
<meta property="article:section" content="{{ . }}" />
{{- end }}
{{- with .Params.tags }}{{ range first 6 . }}
<meta property="article:tag" content="{{ . }}" />
{{- end }}{{ end }}
{{- with $.Site.Params.author }}
<meta property="article:author" content="{{ . }}" />
{{- end }}
{{- with $.Site.Params.twitter }}
<meta property="article:publisher" content="{{ . }}" />
{{- else }}
<meta property="article:publisher" content="{{ .Site.BaseURL }}" />
{{- end }}
{{- end }}{{/* .IsPage */}}

{{- with .Params.locale }}
<meta property="og:locale" content="{{ . }}" />
{{- end }}
{{- with .Params.videos }}{{ range . }}
<meta property="og:video" content="{{ . | absURL }}" />
{{- end }}{{ end }}
