{{- $twitterImage := "" -}}
{{- $twitterImageAlt := "Wavey RF Sensing System" -}}
{{- if .Params.image -}}
  {{- $img := .Params.image -}}
  {{- if (urls.Parse $img).Scheme -}}
    {{- $twitterImage = $img -}}
  {{- else -}}
    {{- $pageImg := $.Resources.GetMatch $img -}}
    {{- if $pageImg -}}
      {{- $twitterImage = ($pageImg.Resize "1200x630 q82 webp").Permalink -}}
    {{- else -}}
      {{- $globalImg := resources.Get $img -}}
      {{- if $globalImg -}}
        {{- $twitterImage = ($globalImg.Resize "1200x630 q82 webp").Permalink -}}
      {{- else -}}
        {{- $twitterImage = absURL $img -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.imageAlt -}}
    {{- $twitterImageAlt = . -}}
  {{- else -}}
    {{- $twitterImageAlt = printf "%s | Wavey" $.Title -}}
  {{- end -}}
{{- else -}}
  {{- $banner := resources.Get "images/wavey-meta/wavey-banner.png" -}}
  {{- with $banner -}}
    {{- $twitterImage = (.Resize "1200x630 q82 webp").Permalink -}}
  {{- else -}}
    {{- $twitterImage = absURL "images/wavey-meta/wavey-banner.png" -}}
  {{- end -}}
  {{- $twitterImageAlt = "Wavey | open-source WiFi CSI sensing for device-free occupancy and motion detection" -}}
{{- end -}}
<meta name="twitter:card" content="summary_large_image"/>
{{- if $twitterImage }}
<meta name="twitter:image" content="{{ $twitterImage }}">
<meta name="twitter:image:alt" content="{{ $twitterImageAlt }}">
{{- end }}
{{- $siteName := .Site.Params.siteName | default .Site.Title -}}
{{- $title := cond .IsHome (.Title | default .Site.Title) (printf "%s | %s" .Title $siteName) -}}
<meta name="twitter:title" content="{{ $title }}"/>
{{- $description := .Description | default .Summary | default .Site.Params.description -}}
{{- if $description }}
<meta name="twitter:description" content="{{ $description | plainify | chomp }}"/>
{{- end }}
{{- with .Site.Params.social.twitter }}
<meta name="twitter:site" content="@{{ . }}"/>
<meta name="twitter:creator" content="@{{ . }}"/>
{{- end }}
